
@{
    ViewBag.Title = "Correcto";
    Layout = "~/Views/Shared/_Principal.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Correcto</title>
</head>
<body>
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p>Los datos fueron cargados correctamente.</p>
        @Html.ActionLink("Retornar", "Index")
        <hr>
        <p class="mb-0">Gracias por ingresar a la página</p>
    </div>
</body>
</html>


